/CSharp_OsnovniKurs/Cas2_Zadatak1/obj
/CSharp_OsnovniKurs/Cas2_Zadatak1/bin
/CSharp_OsnovniKurs/Cas2_Zadatak1_Tata/obj
/CSharp_OsnovniKurs/Cas2_Zadatak1_Tata/bin
/CSharp_OsnovniKurs/Cas3_Zadatak1/obj
/CSharp_OsnovniKurs/Cas3_Zadatak1/bin
/CSharp_OsnovniKurs/Cas3_Zadatak2/obj
/CSharp_OsnovniKurs/Cas3_Zadatak2/bin
/CSharp_OsnovniKurs/Cas4_Zadatak4/obj
/CSharp_OsnovniKurs/Cas4_Zadatak4/bin
